services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: goline_test_llm
    env_file:
      - app/.env
    ports:
      - "8000:8000"
    restart: unless-stopped

